extends layout

block content
  h1= title
  div Payment Channel Daten
  hr
  div ChannelBalance: #{balance} Finney
  div ChannelRecipient: #{recipient}
  div ChannelSender: #{sender}
  div ChannelStart: #{start}
  div ChannelTimeout: #{timeout}
  div Fehler: #{e}
  hr
  div(id='info')
  hr
  h3 Abhebeerlaubniss:
  div Betrag in Finney:
    input(id='value' type='text')
  div
    input(id='createSig' type='button' value='Signiere Abhebeerlaubniss')
  div(id='ticketinfo')