extends layout

block content
  h1= title
  h3 Channel Data
  hr
  div Balance: #{balance} Finney
  div Recipient: #{recipient}
  div Sender: #{sender}
  div Start: #{start}
  div Timeout: #{timeout}
  div Issues: #{e}
  hr
  div(id='info')
  hr
  h3 Withdrawal Permission:
  div Amount in Finney:
    input(id='value' type='text')
  p
  div
    input(id='createSig' type='button' value='Sign Withdrawal Permission')
  div(id='ticketinfo')