extends layout

block content
  if loggedout==true
    div Sie haben sich abgemeldet. Kehren Sie zur Startseite zurück.
  else
    div(id='info')
    h1 Adminseite
    input(type='hidden' id='shash' value=shash)

    if loggedin
      h3 Admin is loggedin.

      h4 Open Channels

      if openChannels !== undefined
        table(style='border:solid 1px')
          th Channel
          th Size
          th Used
          th 
          th
          - var n = 0
          each val1, index in openChannels
            - n++
            tr
              each val2, index2 in val1

                if index2 == 'address'
                  td
                    a(href='https://ropsten.etherscan.io/address/' + val2 target='_blank')= val2
                    input(type='hidden' id= index2+'_'+n value= val2)

                if index2 == 'value' || index2 == 'used'
                  td= val2
                    input(type='hidden' id= index2+'_'+n value= val2)

                if index2 == 'sig'
                  td
                    input(type='hidden' id= index2+'_'+n value= val2)
                    button(id='checkSigButton_'+n) CheckSig
                  td
                    button(id='payRecipientButton_'+n) CloseChannel

            input(type='hidden' id= 'sender_'+n value= index)
        input(type='hidden' id='noChannels' value=n)
      hr

      h4 Closed Channels

      if closedChannels !== undefined
        table(style='border:solid 1px')
          th Channel
          th Earned
          each val1, index in closedChannels
            tr
              each val2, index2 in val1
                if index2 == 'address'
                  td
                    a(href='https://ropsten.etherscan.io/address/' + val2 target='_blank')= val2
                if index2 == 'used'
                  td= val2

    else
      button(id='login') Login with Admin Account

  script(src="/javascripts/users_client.js")
  script(src="/javascripts/channel_client.js")